<!-- PAYMENTS LIST-->


<ul class="king__paymentslist">
    <li>
        <img class="king__paymentslist-img" src="https://cdn.shopify.com/s/files/1/0586/7818/2046/files/paypal_icon_c44399e8-2b14-49e4-8990-463a71b9b814.png?v=1686118946" alt="kingpaypal">
    </li>

    <li>
        <img class="king__paymentslist-img" src="https://cdn.shopify.com/s/files/1/0586/7818/2046/files/amex_icon_f3b2b304-f2a9-4c93-8928-c86b54a421a4.png?v=1686118946" alt="kingpaypal">
    </li>

    <li>
        <img class="king__paymentslist-img" src="https://cdn.shopify.com/s/files/1/0586/7818/2046/files/amazonpay_icon_eb656961-310c-454c-982b-b0404b1f85b8.png?v=1686118946" alt="kingpaypal">
    </li>

    <li>
        <img class="king__paymentslist-img" src="https://cdn.shopify.com/s/files/1/0586/7818/2046/files/mastercard_icon_30caeeb7-7107-4216-8bfc-bb1b66be9396.png?v=1686118947" alt="kingpaypal">
    </li>

    <li>
        <img class="king__paymentslist-img" src="https://cdn.shopify.com/s/files/1/0586/7818/2046/files/visa_icon_240061e0-abcd-4486-a43a-555d82087024.png?v=1686118947" alt="kingpaypal">
    </li>
</ul>
<!-- PAYMENTS LIST END-->
<!-- Benefits Block-->
<div class="king__benefits">
    <div class="king__benefits-block">
        <img class="king__benefits-img" src="https://cdn.shopify.com/s/files/1/0586/7818/2046/files/amex_icon_f3b2b304-f2a9-4c93-8928-c86b54a421a4.png?v=1686118946" alt="">
        <h6> Kauf auf Rechnung mit Klarna</h6>
    </div>

    <div class="king__benefits-block">
        <img class="king__benefits-img" src="https://cdn.shopify.com/s/files/1/0586/7818/2046/files/amex_icon_f3b2b304-f2a9-4c93-8928-c86b54a421a4.png?v=1686118946" alt="">
        <h6> Kauf auf Rechnung mit Klarna</h6>
    </div>
</div>

<div class="king__benefits">
    <div class="king__benefits-block">
        <img class="king__benefits-img" src="https://cdn.shopify.com/s/files/1/0586/7818/2046/files/amex_icon_f3b2b304-f2a9-4c93-8928-c86b54a421a4.png?v=1686118946" alt="">
        <h6> Kauf auf Rechnung mit Klarna</h6>
    </div>

    <div class="king__benefits-block">
        <img class="king__benefits-img" src="https://cdn.shopify.com/s/files/1/0586/7818/2046/files/amex_icon_f3b2b304-f2a9-4c93-8928-c86b54a421a4.png?v=1686118946" alt="">
        <h6> Kauf auf Rechnung mit Klarna</h6>
    </div>
</div>
<!--Benefits Block END-->